<br>
<br><div class="unslate_co--section" id="contact-section">
  <div class="container">
    <div class="section-heading-wrap text-center mb-5">
      <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Get In Touch</span></h2>
      <span class="gsap-reveal"><img src="assets/images/divider.png" alt="divider" width="76"></span>
    </div>
    <div class="row justify-content-between">
      <div class="col-md-6">
        <form [formGroup]="contactForm" (ngSubmit)="submitForm()" class="form-outline-style-v1" id="contactForm">
          <div class="form-group row mb-0">
            <div class="col-lg-6 form-group gsap-reveal">
              <label for="name">Name</label>
              <br>
              <input formControlName="name" type="text" class="form-control" id="name" required>
            </div>

            <div class="col-lg-6 form-group gsap-reveal">
              <label for="phone">Phone</label>
              <br>
              <input formControlName="phone" type="text" class="form-control" id="phone" required>
            </div>

            <div class="col-lg-6 form-group gsap-reveal">
              <label for="email">Email</label>
              <br>
              <input formControlName="email" type="email" class="form-control" id="email" required>
            </div>

          

            <div class="col-lg-12 form-group gsap-reveal">
              <label for="message">Write your message...</label>
              <br>
              <textarea formControlName="message" id="message" cols="30" rows="7" class="form-control" required></textarea>
            </div>
          </div>

          <div class="form-group row gsap-reveal">
            <div class="col-md-12 d-flex align-items-center">
              <button type="submit" class="btn btn-outline-pill btn-custom-light mr-3">Send Message</button>
              <span class="submitting"></span>
            </div>
          </div>

          <div *ngIf="messageStatus" class="mt-4" [ngClass]="{ 'text-success': messageStatus === 'تم إرسال الرسالة بنجاح!', 'text-danger': messageStatus !== 'تم إرسال الرسالة بنجاح!' }">
            {{ messageStatus }}
          </div>
        </form>
      </div>

      <div class="col-md-4">
        <div class="contact-info-v1">
          <div class="gsap-reveal d-block">
            <span class="d-block contact-info-label">Email</span>
            <a href="#" class="contact-info-val">info&#64;mbwayeng.com</a>
          </div>
          <div class="gsap-reveal d-block">
            <span class="d-block contact-info-label">Phone</span>
            <a href="#" class="contact-info-val">+90 534 696 6041</a>
          </div>
          <div class="gsap-reveal d-block">
            <span class="d-block contact-info-label">Address</span>
            <address class="contact-info-val">Turky. <br> Istanpual</address>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>